#pasekGórny {
  display: flex;
  height: 60px;
  box-shadow: 0 0px 20px rgba(0,0,0,1);
}
#profil {
  position: relative;
  flex: 0 0 8%;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/e/e9/Flag_of_Poland_%28normative%29.svg/1920px-Flag_of_Poland_%28normative%29.svg.png');
  background-size: cover;
  background-position: center;
  z-index: 1;
}
#pasekSurki {
  flex: 1;
  background-color: rgba(16, 16, 16, 0.94);
  color: white;
  text-align: center;
  line-height: 8vh;
  display: flex;
  justify-content: space-between;
  padding: 0 3.5%;
  z-index: 0;
}
.surka, .jedzenie {
  border: 2px solid gray;
  background-color: lightgray;
  width: 30px;
}
@media (min-width: 1376px) {
  #pasekGórny {
    height: 60px;
  }
  #profil {
    height: 100%;
    flex: 0 0 6%;
  }
  #pasekSurki {
    height: 100%;
  }
}
@media (min-width: 1600px) {
  #pasekGórny {
    height: 80px;
  }
  #profil {
    height: 100%;
    flex: 0 0 6%;
  }
  #pasekSurki {
    height: 100%;
  }
}
@media (min-width: 1920px) {
  #pasekGórny {
    height: 80px;
  }
  #profil {
    height: 100%;
    flex: 0 0 6.5%;
  }
  #pasekSurki {
    height: 100%;
  }
}
@media (min-width: 2560px) {
  #pasekGórny {
    height: 90px;
  }
  #profil {
    height: 100%;
    flex: 0 0 5.5%;
  }
  #pasekSurki {
    height: 100%;
  }
}
@media (min-width: 3840px) {
  #pasekGórny {
    height: 100px;
  }
  #profil {
    height: 100%;
    flex: 0 0 4.5%;
  }
  #pasekSurki {
    height: 100%;
  }
}
@media (min-width: 3840px) {
  #pasekGórny {
    height: 100px;
  }
  #profil {
    height: 100%;
    flex: 0 0 4.5%;
  }
  #pasekSurki {
    height: 100%;
  }
}
@media (min-width: 7680px) {
  #pasekGórny {
    height: 140px;
  }
  #profil {
    height: 100%;
    flex: 0 0 3%;
  }
  #pasekSurki {
    height: 100%;
  }
}
